body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.logo-container {
    position: absolute; /* Posizionamento assoluto per centrare il logo */
    top: 50%; /* Posiziona al centro verticale */
    left: 50%; /* Posiziona al centro orizzontale */
    transform: translate(-50%, -50%); /* Centra esattamente */
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 1s; /* Transizione dell'opacità */
    z-index: 2;
}

.logo-container.fade-in {
    opacity: 1; /* Opacità quando visibile */
}

#logo {
    width: 500px; /* Imposta la larghezza del logo */
    height: auto; /* Mantiene le proporzioni */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 2s; /* Transizione dell'opacità */
    z-index: 1;
}

.overlay.visible {
    opacity: 0.5; /* Opacità quando è visibile */
}

.overlay.fade-in {
    opacity: 0.5; /* Regola l'opacità al valore desiderato per l'effetto di sfumatura */
}

.hidden {
    display: none;
}


.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    position: absolute; /* Modifica la posizione dei bottoni */
    bottom: 20px; /* Posizionamento nella parte inferiore */
    left: 50%;
    transform: translateX(-50%); /* Centra i bottoni */
    opacity: 0; /* Inizialmente invisibili */
    transition: opacity 1s; /* Transizione dell'opacità */
    z-index: 2;
}

.buttons.fade-in {
    opacity: 1; /* Opacità quando è visibile */
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7ed957;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00bf63;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
