/* Posizionamento 3-4-2-1 */
        .PT { top: 1080px; left: 405px; }

        .DCS { top: ; left: ; }
        .DC { top: ; left: ; }
        .DCD { top: ; left: ; }

        .ES { top: ; left: ; }
        .CS { top: ; left: ; }
        .CD { top: ; left: ; }
        .ED { top: ; left: ; }

        .ATS { top: ; left: ; }
        .ATD { top: ; left: ; }

        .P { top: 230px; left: 405px; }
