/* Posizionamento 3-5-2 */
        .PT { top: 1080px; left: 405px; }

        .DCS { top: ; left: ; }
        .DC { top: ; left: ; }
        .DCD { top: ; left: ; }

        .ES { top: ; left: ; }
        .CCS { top: 650px; left: 280px; }
        .CC { top: 650px; left: 530px; }
        .CCD { top: ; left: ; }
        .ED { top: ; left: ; }

        .SP { top: ; left: ; }
        .P { top: 230px; left: 405px; }