/* Posizionamento 4-1-4-1 */
        .PT { top: 1080px; left: 405px; }

        .TS { top: 800px; left: 100px; }
        .DS { top: 900px; left: 260px; }
        .DD { top: 900px; left: 550px; }
        .TD { top: 800px; left: 710px; }

        .MED { top: ; left: ; }

        .EOS { top: ; left: ; }
        .COS { top: 650px; left: 280px; }
        .COD { top: 650px; left: 530px; }
        .EOD { top: ; left: ; }

        .P { top: 230px; left: 405px; }