/* Posizionamento 4-3-1-2 */
        .PT { top: 1040px; left: 405px; }

        .TS { top: 800px; left: 100px; }
        .DS { top: 900px; left: 260px; }
        .DD { top: 900px; left: 550px; }
        .TD { top: 800px; left: 710px; }

        .CCS { top: 560px; left: 240px; }
        .CC { top: 620px; left: 405px; }
        .CCD { top: 560px; left: 570px;}

        .TRQ { top: 400px; left: 405px; }

        .SP { top: 240px; left: 485px; }
        .P { top: 230px; left: 320px; }