/* Posizionamento 4-3-3 */
        .PT { top: 1080px; left: 405px; }

        .TS { top: 800px; left: 100px; }
        .DS { top: 900px; left: 260px; }
        .DD { top: 900px; left: 550px; }
        .TD { top: 800px; left: 710px; }

        .CCS { top: ; left: ; }
        .CC { top: ; left: ; }
        .CCD { top: ; left: ;}

        .AS { top: ; left: ; }
        .P { top: 230px; left: 405px; }
        .AD { top: ; left: ; }