/* Posizionamento 5-4-1 */
        .PT { top: 1080px; left: 405px; }

        .TS { top: 800px; left: 100px; }
        .DS { top: 900px; left: 260px; }
        .DC { top: ; left: ; }
        .DD { top: 900px; left: 550px; }
        .TD { top: 800px; left: 710px; }

        .ECS { top: 650px; left: 280px; }
        .CS { top: ; left: ; }
        .CD { top: ; left: ; }
        .ECD { top: 650px; left: 530px; }

        .P { top: 230px; left: 405px; }