/* Posizionamento 5-4-1 */
        .PT { top: 1040px; left: 405px; }

        .TS { top: 800px; left: 100px; }
        .DS { top: 850px; left: 260px; }
        .DC { top: 850px; left: 405px; }
        .DD { top: 850px; left: 550px; }
        .TD { top: 800px; left: 710px; }

        .ECS { top: 400px; left: 100px; }
        .CS { top: 570px; left: 280px; }
        .CD { top: 570px; left: 530px; }
        .ECD { top: 400px; left: 710px; }

        .P { top: 230px; left: 405px; }