<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Squadra</title>
</head>
<body>
<div class="form-section mt-5">
    <h4>Modifica Squadra</h4>
    <form method="post" th:action="@{/areaadmin/squadra/modifica}" enctype="multipart/form-data">

        <fieldset>
            <legend>Squadra</legend>
            <input type="text" name="nome" th:value="${squadra.nome}" placeholder="Nome squadra" required>
            <br>
            <label for="logo_squadra">Logo squadra:</label>
            <input type="file" name="logo" accept="image/*" th:value="${squadra.logo}" id="logo_squadra" required>
            <div class="mb-3">
                <label for="capitano">Capitano</label>
                <select name="capitano" class="form-select" id="capitano">
                    <option th:each="g : ${giocatoriSquadra}"
                            th:value="${g.nome + ' ' + g.cognome}"
                            th:selected="${squadra.capitano != null and (squadra.capitano.equals(g.nome + ' ' + g.cognome))}"
                            th:text="${g.nome + ' ' + g.cognome + ' (' + g.ruolo.sigla + ')'}">
                    </option>
                </select>
            </div>

            <!-- script per evidenziare il campo del capitano LA PRIMA VOLTA (cioè quando bisogna aggiungere il capitano dopo la prima registrazione -->
            <style>
                .highlight-select {
                    border: 2px solid red;
                    background-color: #fff5f5;
                }
            </style>

            <script th:inline="javascript">
                /* Evidenzia il campo solo se il capitano non è ancora stato scelto */
                /* (cioè se il campo è vuoto o nullo) */
                window.onload = function () {
                    let capitanoSelect = document.getElementById("capitano");
                    let selected = capitanoSelect.value;
                    if (!selected || selected.trim() === "") {
                        capitanoSelect.classList.add("highlight-select");
                    }
                }
            </script>

            <br>
            <input type="text" name="descrizione" th:value="${squadra.descrizione}" placeholder="Descrizione squadra" required>
            <br>
            <select name="nazionalita" required>
                <option value="" disabled selected>Scegli la nazionalità</option>
                <option th:each="nazionalita : ${nazionalita}" th:text="${nazionalita.nazione} + ' (' + ${nazionalita.sigla} + ')'" th:value="${nazionalita.idNazionalita}" th:selected="${squadra.nazionalita != null && squadra.nazionalita.idNazionalita == nazionalita.idNazionalita}"></option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>Allenatore</legend>
            <input type="text" name="nomeAllenatore" th:value="${allenatore.nome}" placeholder="Nome allenatore (facoltativo)">
            <input type="text" name="cognomeAllenatore" th:value="${allenatore.cognome}" placeholder="Cognome allenatore" required>
            <br>
            <label for="immagine_allenatore">Card allenatore:</label>
            <input type="file" name="immagineAllenatore" accept="image/*" th:value="${allenatore.immagine}" id="immagine_allenatore" required>
            <select name="nazionalitaAllenatore" required>
                <option value="" disabled selected>Scegli la nazionalità dell'allenatore</option>
                <option th:each="nazionalita : ${nazionalita}"
                        th:text="${nazionalita.nazione} + ' (' + ${nazionalita.sigla} + ')'"
                        th:value="${nazionalita.idNazionalita}"
                        th:selected="${allenatore.nazionalita != null && allenatore.nazionalita.idNazionalita == nazionalita.idNazionalita}">
                </option>
            </select>
            <br>
            <input type="text" name="descrizioneAllenatore" th:value="${allenatore.descrizione}" placeholder="Descrizione allenatore" required>
            <br>
            <select name="modulo" required>
                <option value="" disabled selected>Scegli il modulo di gioco</option>
                <option th:each="modulo : ${modulo}" th:text="${modulo.schemaGioco}" th:value="${modulo.idModulo}" th:selected="${squadra.modulo != null && squadra.modulo.idModulo == modulo.idModulo}"></option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>Stadio</legend>
            <input type="text" name="nomeStadio" th:value="${stadio.nome}" placeholder="Nome stadio" required>
            <input type="number" name="capienza" id="capienza" min="10000" max="100000" step="500" placeholder="Capienza (spettatori)" required>
            <br>
            <input type="text" name="ultras" id="ultras" placeholder="Nome ultras" th:value="${stadio.ultras}" required>
            <br>
            <label for="immagine_stadio">Card stadio:</label>
            <input type="file" name="immagineStadio" accept="image/*" th:value="${stadio.immagine}" id="immagine_stadio" required>
        </fieldset>

        <button type="submit" class="btn btn-success">Salva Squadra</button>
    </form>
</div>
</body>
</html>