<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/generale.css}">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/images/logo_homepage_negativo-trasparente.png" alt="Logo" class="header-logo-small">
        <div class="header-text">
            <h1>SPRINT FOOTBALL SIMULATION</h1>
        </div>
    </div>
</header>

<nav>
    <a th:href="@{/archiviotornei}">Archivio</a>
    <a th:href="@{/contatti}">Chi siamo</a>
    <a th:href="@{/loginadmin}">Area Admin</a>
</nav>

<div class="container" style="text-align: center;">
    <div class="top-section">
        <h2>Pronti al fischio d'inizio!</h2>
    </div>

    <p style="font-size: 1.2em; margin-bottom: 40px;">Seleziona la tua strategia</p>

    <div class="home-grid">

        <a th:href="@{/tabellone}" class="home-card card-cima">
            <img src="/images/torneo_homepage.png" alt="Torneo">
            <div class="card-body">
                <h3>Inizia Torneo</h3>
                <p>Scegli i tuoi eroi e competi per la gloria.</p>
            </div>
        </a>

        <a th:href="@{/registra-squadre}" class="home-card card-fila2-sinistra">
            <img src="/images/squadra_homepage.png" alt="Squadra">
            <div class="card-body">
                <h3>Registra Squadra</h3>
                <p>Crea la tua squadra, scegli lo stadio e l'allenatore.</p>
            </div>
        </a>

        <a th:href="@{/registra-giocatori}" class="home-card card-fila2-destra">
            <img src="/images/giocatore_homepage.png" alt="Giocatori">
            <div class="card-body">
                <h3>Componi Formazione</h3>
                <p>Aggiungi i talenti alla tua rosa.</p>
            </div>
        </a>

        <a th:href="@{/squadre-disponibili}" class="home-card card-base">
            <img src="/images/registro_homepage.png" alt="SquadreDisponibili">
            <div class="card-body">
                <h3>Visualizza Squadre</h3>
                <p>Scopri le squadre già iscritte al torneo.</p>
            </div>
        </a>

        <a th:href="@{/archiviotornei}" class="home-card card-base">
            <img src="/images/archivio-torneo_homepage.png" alt="ArchivioTorneo">
            <div class="card-body">
                <h3>Archivio Tornei</h3>
                <p>Rivivi i tornei passati e le statistiche più importanti.</p>
            </div>
        </a>

        <a th:href="@{/regolamento}" class="home-card card-base">
            <img src="/images/regolamento.png" alt="Regolamento">
            <div class="card-body">
                <h3>Regolamento Torneo</h3>
                <p>Consulta le norme e i criteri di partecipazione.</p>
            </div>
        </a>
    </div>
</div>

<footer>
    <p>&copy; 2024 Sprint Football Simulation - Generation Sport</p>
</footer>
</body>
</html>