<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partite</title>
    <link rel="stylesheet" th:href="@{/generale.css}">
</head>
<body>

<header>
    <div class="header-content">
        <img src="/images/logo_homepage_negativo-trasparente.png" alt="Logo" class="header-logo-small">
        <div class="header-text">
            <h1>SPRINT FOOTBALL SIMULATION</h1>
        </div>
    </div>
</header>


<footer>
    <p>&copy; 2024 Sprint Football Simulation - Generation Sport</p>
</footer>
</body>
</html>