<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" th:href="@{/generale.css}">
</head>
<body>

<header>
    <div class="header-content">
        <img src="/images/logo_homepage_negativo-trasparente.png" alt="Logo" class="header-logo-small">
        <div class="header-text">
            <h1>Registrazione squadre</h1>
        </div>
    </div>
</header>

<nav>
    <a href="/home-page">Home</a>
    <a href="/registra-giocatori">Registra giocatori</a>
    <a href="#">Archivio</a>
    <a href="#">Chi Siamo</a>
    <a href="/loginadmin">Area Admin</a>
</nav>

<div class="form-container">
    <form action="/registra-squadre" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>SQUADRA</legend>
            <input type="text" name="nome" th:value="${squadra.nome}" placeholder="Nome squadra" required>
            <br>
            <label for="logo_squadra">Logo squadra:</label>
            <input type="file" name="logo" accept="image/*" th:value="${squadra.logo}" id="logo_squadra" required>
            <input type="text" name="capitano" th:value="${squadra.capitano}" placeholder="Capitano (nome e cognome giocatore)" required>
            <br>
            <textarea name="descrizione" placeholder="Descrizione squadra" required th:text="${squadra.descrizione}"></textarea>
            <br>
            <select name="nazionalita" required>
                <option value="" disabled selected>Scegli la nazionalità</option>
                <option th:each="nazionalita : ${nazionalita}" th:text="${nazionalita.nazione} + ' (' + ${nazionalita.sigla} + ')'" th:value="${nazionalita.idNazionalita}" th:selected="${squadra.nazionalita != null && squadra.nazionalita.idNazionalita == nazionalita.idNazionalita}"></option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>ALLENATORE</legend>
            <input type="text" name="nomeAllenatore" th:value="${allenatore.nome}" placeholder="Nome allenatore (facoltativo)">
            <input type="text" name="cognomeAllenatore" th:value="${allenatore.cognome}" placeholder="Cognome allenatore" required>
            <br>
            <label for="immagine_allenatore">Card allenatore:</label>
            <input type="file" name="immagineAllenatore" accept="image/*" th:value="${allenatore.immagine}" id="immagine_allenatore" required>
            <select name="nazionalitaAllenatore" required>
                <option value="" disabled selected>Scegli la nazionalità dell'allenatore</option>
                <option th:each="nazionalita : ${nazionalita}"
                        th:text="${nazionalita.nazione} + ' (' + ${nazionalita.sigla} + ')'"
                        th:value="${nazionalita.idNazionalita}"
                        th:selected="${allenatore.nazionalita != null && allenatore.nazionalita.idNazionalita == nazionalita.idNazionalita}">
                </option>
            </select>
            <br>
            <textarea name="descrizioneAllenatore" placeholder="Descrizione allenatore" required th:text="${allenatore.descrizione}"></textarea>
            <br>
            <select name="modulo" required>
                <option value="" disabled selected>Scegli il modulo di gioco</option>
                <option th:each="modulo : ${modulo}" th:text="${modulo.schemaGioco}" th:value="${modulo.idModulo}" th:selected="${squadra.modulo != null && squadra.modulo.idModulo == modulo.idModulo}"></option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend>STADIO</legend>
            <input type="text" name="nomeStadio" th:value="${stadio.nome}" placeholder="Nome stadio" required>
            <input type="number" name="capienza" id="capienza" min="10000" max="100000" step="500" placeholder="Capienza (# posti)" required>
            <br>
            <label for="immagine_stadio">Card stadio:</label>
            <input type="file" name="immagineStadio" accept="image/*" th:value="${stadio.immagine}" id="immagine_stadio" required>
            <br>
            <textarea name="descrizioneStadio" placeholder="Descrizione stadio" required th:text="${stadio.descrizione}"></textarea>
            <br>
            <input type="text" name="nomeUltras" th:value="${stadio.ultras}" placeholder="Ultras" required>
        </fieldset>
        <br>
        <input type="submit" value="Registra la squadra">
        <input type="button" value="Componi la formazione" onclick="window.location.href='/registra-giocatori'">
    </form>
</div>

<footer>
    <p>&copy; 2024 Sprint Football Simulation - Generation Sport</p>
</footer>

<!-- Aggiungo il codice per visualizzare un messaggio di successo -->
<script th:if="${message != null}">
    alert('[[${message}]]');
</script>

</body>
</html>
