<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione giocatori</title>
    <link rel="stylesheet" th:href="@{/generale.css}">
</head>
<body th:attr="data-selected-squadra-id=${selectedSquadraId}, data-selected-modulo-id=${selectedModuloId}">

<header>
    <div class="header-content">
        <img src="/images/logo_homepage_negativo-trasparente.png" alt="Logo" class="header-logo-small">
        <div class="header-text">
            <h1>Registrazione giocatori</h1>
        </div>
    </div>
</header>

<nav>
    <a th:href="@{/homepage}">Home</a>
    <a th:href="@{/tabellone}">Nuovo Torneo</a>
    <a th:href="@{/regolamento}">Regolamento</a>
    <a th:href="@{/squadre-disponibili}">Team disponibili</a>
    <div class="nav-dropdown">
        <span class="nav-dropdown-title">
            Registrazione
        </span>
        <div class="nav-dropdown-menu">
            <a th:href="@{/registra-squadre}">Squadre</a>
            <a th:href="@{/registra-giocatori}">Giocatori</a>
        </div>
    </div>
    <a th:href="@{/archivio/tornei}">Archivio</a>
    <a th:href="@{/contatti}">Chi siamo</a>
    <a th:href="@{/loginadmin}">Area Admin</a>
</nav>

<div class="form-container">
    <h2>Registrazione Giocatore</h2>
    <p th:if="${conferma}" th:text="${conferma}" style="color: green; font-weight: bold;"></p>

    <form th:action="@{/registra-giocatori}" method="post" enctype="multipart/form-data">

        <!-- Squadra -->
        <select id="squadraSelect" required>
            <option value="" disabled selected hidden>Scegli la squadra</option>
            <option th:each="squadra : ${squadre}"
                    th:value="${squadra.idSquadra}"
                    th:text="${squadra.nome}"
                    th:selected="${selectedSquadraId != null and selectedSquadraId == squadra.idSquadra}">
            </option>
        </select>
        <input type="hidden" name="squadra" id="hiddenSquadra"/>

        <!-- Modulo -->
        <select id="moduloSelect" required>
            <option value="" disabled selected hidden>Scegli il modulo di gioco</option>
            <option th:each="modulo : ${moduli}"
                    th:value="${modulo.idModulo}"
                    th:text="${modulo.schemaGioco}"
                    th:selected="${selectedModuloId != null and selectedModuloId == modulo.idModulo}">
            </option>
        </select>
        <input type="hidden" name="modulo" id="hiddenModulo"/>

        <!-- Tipologia -->
        <select id="tipologiaSelect" required>
            <option value="" disabled selected hidden>Scegli la tipologia di giocatore</option>
        </select>
        <input type="hidden" name="tipologia" id="hiddenTipologia"/>

        <!-- Ruolo -->
        <select id="ruoloSelect" required>
            <option value="" disabled selected hidden>Scegli il ruolo del giocatore</option>
        </select>
        <input type="hidden" name="ruolo" id="hiddenRuolo"/>

        <!-- Dati anagrafici -->
        <input type="text" name="nome" id="nome" placeholder="Nome (facoltativo)" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ. ]+$">
        <input type="text" name="cognome" id="cognome" placeholder="Cognome" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ. ]+$" required>
        <input type="file" name="immagine" id="immagine" accept="image/*" required>
        <input type="number" name="numeroMaglia" id="numeroMaglia" min="1" max="99" placeholder="Numero di maglia"
               required>
        <input type="date" name="dataNascita" id="dataNascita" required>

        <!-- Nazionalità -->
        <select name="nazionalita" id="nazionalita" required>
            <option value="" disabled selected hidden>Scegli la nazionalità</option>
            <option th:each="naz : ${nazionalita}"
                    th:value="${naz.idNazionalita}"
                    th:text="${naz.nazione} + ' (' + ${naz.sigla} + ')'">
            </option>
        </select>

        <textarea name="descrizione" id="descrizione" rows="3" placeholder="Descrizione del giocatore"></textarea>

        <input type="submit" value="Registra la formazione" id="submitButton">
    </form>

    <div class="form-container">
        <div class="button-row">
            <a th:href="@{/homepage}" class="btn-secondary" style="padding: 10px 25px; border-radius: 5px; font-weight: bold;">
                Indietro
            </a>

        </div>
    </div>

</div>

<script>
    document.addEventListener("submit", function () {
      document.getElementById("hiddenSquadra").value = document.getElementById("squadraSelect").value;
      document.getElementById("hiddenModulo").value = document.getElementById("moduloSelect").value;
      document.getElementById("hiddenTipologia").value = document.getElementById("tipologiaSelect").value;
      document.getElementById("hiddenRuolo").value = document.getElementById("ruoloSelect").value;
    });
</script>
<script src="/js/dinamicaFormGiocatori.js"></script>

<footer>
    <p>&copy; 2024 Sprint Football Simulation - Generation Sport</p>
</footer>

</body>
</html>